.landing-page {
  padding: 2vh 5vw;
  background-color: var(--darkergray);
  color: white;
}

.landing-page h1, h3 {
  margin: 2vh 0;
}

.landing-page header {
  margin: 5vh 0 5vh 0;
  padding: 0 5vw;
}

#main-title {
  color: var(--orange);
}
#secondary-title {
  color: var(--pink);
  padding: 0 5vw;
}
.description {
  margin-right: 5vw;
}
.landing-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  padding: 0 5vw;

}

.main-text {
  width: 50vw;
}

#video-preview {
  width: 35vw
}

 .meet-the-engineers {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#meet-the-engineers {
  color: var(--blue)
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 10px;
}
.card {
  background-color: var(--darkgray);
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--blue);
  border-radius: 8px;
  padding: 8px;
  margin: 10px 30px;
}
.name {
  font-size: 1.7em;
  font-weight: 400;
}
.pic {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid var(--blue);
  border-radius: 100%;
  margin: 15px 0;
}
.statement-container {
  height: 55%;
}
.card p {
  font-size: 1em;
  font-weight: 300;
  margin: 30px 0;
  padding: 0 15px;
  line-height: 1.1em;
}

.landing-links {
  display: flex;
  height: 30%;
  justify-content: space-around;
}

.icon {
  height: 60px;
  margin: 10px 20px;
  border: none;
  border-radius: none;
} 

/* media queries */

@media screen and (max-width: 1000px) {
  #secondary-title {
    margin-left: 25vw; 
  }
  .landing-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-text {
    width: 75vw;
  }
  #video-preview {
    margin-top: 3vh;
    width: 50vw;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card {
    max-width: 60vw;
  }
  .card p {
    padding: 0 35px;
    line-height: 1.3em;
  }
}

