.canvas {
  /* display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr); */

  margin: 1px auto;
  height: 80vh;
  background-color: rgb(24, 24, 24);
  aspect-ratio: 1/1;
}