.signin-form {
  background-color: var(--darkergray);
  width: 100%;
  height: 100vw;
  margin: auto;
}

.signin-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
 
}

.signin-form input {
  height: 45px;
  width: 40%;
  margin: 30px;
  color: white;
}

.signin-form button {
  background-color: var(--darkergray);
  height: 55px;
  width: 125px;
  color: white;
  border:1px solid var(--orange);
  border-radius: 25px;
}

#signin-username, #signin-password {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--orange);
}

@media only screen and (max-width: 768px) {
  .signin-form input {
    width: 80%;
  }
}