.layout {
  display: flex;
  flex-direction: column;
}

.layout-children {
  min-height: 80vh;
}

/* media queries  */

@media screen and (max-width: 768px) {
  .layout-children {
    min-height: 100%;
}
}
