.hole {
  height: 95%;
  width: 4.5%;
  margin: 2.5% .25%;
  border-radius: 50%;
  background-color: black;
  opacity: .5;
}

.light {
  box-shadow: 0 0 7px 3px rgba(255, 255, 255, 0.722);
  opacity: 1;
  z-index: 2;
}